div {
  text-align: center;
}

.forecast-data {
  width: 100%;
  height: auto;
}

.weekForecast {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  border: 2px solid #008cba;
  border-radius: 4px;
}

.maxTemp {
  font-weight: bold;
  padding-right: 5px;
}

.temperatures {
  display: flex;
}

.dayForecast {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
